<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DevMode" value="true" />
		<add key="DB_Type" value="SqlServer" />
		<add key="DB_Server_Address" value=".\SQL2022DEV" />
		<add key="DB_Database_Name" value="420da3_projet_exemple_avance" />
	</appSettings>

	<connectionStrings>
		<add name="ProjectDatabase"
			 connectionString="Server=.\SQL2022DEV;Database=420da3_projet_exemple_avance;Integrated Security=true;TrustServerCertificate=true" />
	</connectionStrings>
</configuration>